body{
	font-family: "Nanum Gothic","맑은 고딕","Malgun Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: -0.5px;
}
.wrapper {
    margin-top: 225px;
}
.bg-red{
	background: #e60012;
}
.bg-gray{
	background-color: #f0f0f0;
}
.font-s-12{
	font-size: 12px;
}
.header-red{
	font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: NanumSquare;
}
.text-red-cus{
	color: #e60012;
}
.top-menu a {
	color: #666666;
	border-right: 1px solid #cccccc;
	font-size: 12px;
	font-weight: 700;
    padding: 15px;
}
.top-menu a.active {
	color: #fff;
}
.main-menu a {
	color: #333;
	font-size: 16px;
	font-weight: 700;
}
.top-menu a.active:last-child, .footer-links a:last-child{
	border-right: 0;
	background-color: #e60012;
}
nav a:hover,.second-nav a:hover{
	color:#cecece;
	text-decoration: none;
}
 .search-input{
 	border:1px solid #e60012;
    background: none;
    width: 100%;
    line-height: 40px;
    position: relative;
    font-size: 14px;
    padding: 0px 12px;
}
.search-input:focus{
	outline: 1px solid #e60012;
}
.search-icon{
	color: #e60012;
	position: absolute;
	right: 25px;
	top:9px;
}
.second-nav{
	margin-top: 5px;
	line-height: 30px;
}
.custom-border{
	border-top: 1px solid #e6e6e6;
	margin-top: 10px;
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 10px;
}
.smart-search{
	margin-top: 20px;
	color: #e60012;
	font-weight: bolder;
	font-size: 20px;
	line-height: 35px;
}
.custom-filter{
	margin-left: 10px;
	color: #e60012;
}
hr{
	width: 100%;
	color: #e60012;
}
.footer-buttons, .footer-links {
	margin: 10px auto;
	width: 91%;
}
.footer-buttons button{
	margin: 0 5px;
	background-color: #fff;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px;
}
.footer-links{
	font-size: 14px;
}
.footer-links a{
	color: #cecece;
	border-right: 1px solid #c6c6c6;
	padding: 0 5px;
}
.banner-img img{
	width: 100%;
}
.inner-content {
    padding: 50px 0 19px 0;
}
.map-img img {
    width: 100% !important;
    height: 324px;
}
.first-section span {
    color: red;
}
.tabs-heading{
	padding: .5rem;
	color: #e60012;
	font-size: 22px;
    font-weight: 800;
    padding-left: 0
}
.pro-list-tabs .nav .nav-item.active{
	color: #e60012;
}
span.pro-tags {
    background-color: #e60012;
    color: white;
    padding: 3px 10px 3px 10px;
}
.last-para {
    color: grey !important;
    float: right;
}
.inner-content p {
    color: grey !important;
}
.eye-color i{
	color: #b3b3b3;
}
.bg-blue{
	background-color: #5ecce6 !important;
}
.pro-list-tabs .nav .nav-item {
    color: #999999;
    font-size: 12px;
    padding: 0px 17px;
}
.home-4th-container.py-4 .card {
    border: 0;
}
.pro-list-tabs .card-body .card-text {
    color: #999;
}
.home-4th-container .card-body .card-text {
    color: #b3b3b3;
}
.pro-list-tabs .card-body .card-title {
    font-weight: bold;
}
.dropdown-link-1:hover .dropdown-menu-open-1{
	display: block;
}
.dropdown-link-1:hover{
	color: red;
}
a.nav-link.py-1.border-0:hover {
    color: #e60012 !important;
}
.bars-menu {
    height: 130px;
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 217px;
    left: 253px;
    z-index: 2;
    background-color: white;
    border-top: 1px solid #000;
	display: none;
}
.bars-inner {
    display: inline-block;
}
.pro-list-tabs .nav .nav-item:first-child {
    border-right: 1px solid #ccc;
}

/*Muneeb*/
.card {
   border-radius:0;
   margin:10px auto;
}
.card-title {
    text-transform: uppercase;
    color: #0d0c0c;
}

.card-text {
    margin-top:10px;
    margin-bottom: 10px;
    background-color:#FFFFFF;
    color:#000000;
}
a.btn, a.btn:visited {
   color:#333333;
}
hr {
 margin-top: 1rem;
 margin-bottom: 1rem;
 border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.style1{
     border-top: 4px solid #c86b6b;
     width: 77px;
     float: left;
}
.card-block a{
    color: red;
}
.btn-round-lg{
border-radius: 22.5px;
background-color: #fff;
border:1px solid #0000001f;
color: #0000007d;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.nopadding {
  padding: 0 !important;}
.tabs a.active{
   border-bottom: 2px solid red;
   color: black;
   background-color: white;
}
.navtabs a {
    color: black;
}

table.red-hover-tables.table-hover tr {
   border-top: 1px solid #dee2e6;
}

table.red-hover-tables.table-hover tr:hover {
   background: #fff;
   border: 1px solid #e60012 !important;
}

table.red-hover-tables.table-hover td, table.red-hover-tables.table-hover th {
   border-top: 0;
}
.red-bb-small h5:after{
    content: "";
   width: 50px;
   height: 4px;
   background-color: red;
   position: absolute;
   bottom: 10px;
   left: 15px;
}
.tab a{
    width: 50%;
    text-align: center;

}
.tabs a.active{
    border-bottom: 2px solid #red;
}
.bg-gray{
    background-color: #f7f7f7;
    color: #d7d7d7;
}
.cangot li a{
    color: red;
}

.links a{
  color:black;
}


.links a.active{
        background-color: white;
   color: red;
}
.tbs a.active{
    color: red;
    background-color: white;
}
.tbs span.sp {
   color: black;
}
.tbs a {
   color: black;
}
.tbs li{
    background-color: #ededed;
}
.table td{
    width: 20%;
}
.table td img{
    width: 33%;
}
.table td p{
        display: block;
   float: left;
   margin-bottom: 0 !important;
}
.table td i{
    font-size: 11px;
}
.table td span{
    font-size: 11px;
}
a.list-group-item {
   height:auto;
   min-height:220px;
}
a.list-group-item.active small {
   color:#fff;
}
.stars {
   margin:20px auto 1px;
}

/*Muneeb*/
.fa-angle-right{

}