body{
	font-family: "Nanum Gothic","맑은 고딕","Malgun Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: -0.5px;
	background: #f0f0f0;
}
.wrapper {
    margin-top: 225px;
}
/* Common Class Open */

/* Background Colors */
.bg-red{
	background: #e60012;
}
.bg-gray{
	background: #f0f0f0;
}
.bg-pink{
	background: #fff2f3;
}
/* Text Colors */
.text-ccc{
	color: #ccc;
}
.text-999{
	color: #999;
}
.text-666{
	color: #666;
}
.text-333{
	color: #333;
}
.text-fff{
  color: #fff;
}
.text-000{
  color: #000;
}
.text-600{
  color: #e60012;
}
/* Font Sizes */
.font-s-12{
	font-size: 12px;
}
.font-s-14{
	font-size: 14px;
}
.font-s-16{
	font-size: 16px;
}
.font-s-22{
	font-size: 22px;
}
/* Font Weights */
.font-w-400{
	font-weight: 400
}
.font-w-800{
	font-weight: 800
}
.font-w-900{
	font-weight: 900
}
/* Buttons */
.btn-red{
	background: #e60012;
	border: 1px solid #e60012;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
  font-size: 18px;
}
.btn-red:hover, .btn-red:focus{
	background: #e60012 !important;
	border: 1px solid #e60012 !important;
	color: #fff;
}
.btn-yellow{
	background: #fae100;
	border: 1px solid #fae100;
	border-radius: 0;
	color: #3a2021;
	font-weight: bold;
  font-size: 18px;
}
.btn-yellow:hover, .btn-yellow:focus{
	background: #fae100 !important;
	border: 1px solid #fae100 !important;
	color: #3a2021;
}
.btn-darkest-gray{
	background: #333333;
	border: 1px solid #333333;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
  font-size: 18px;
}
.btn-darkest-gray:hover, .btn-darkest-gray:focus{
	background: #333 !important;
	border: 1px solid #333 !important;
	color: #fff;
}
.btn-border-black{
	background: #fff;
	border: 1px solid #333;
	border-radius: 0;
	color: #333;
	font-weight: bold;
  font-size: 18px;
}
.btn-border-black:hover, .btn-border-black:focus{
	background: #fff !important;
	border: 1px solid #333 !important;
	color: #333;
}
.btn-round{
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #999;
  font-size: 14px;
  padding: 15px 15px;
}
.btn-round:hover, .btn-round:focus{
  background: #fff !important;
  border: 1px solid #e60012 !important;
  color: #e60012;
}
.red-sticker{
  background: #e60012;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}
.blue-sticker{
  background: #02b0da;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
}
/* Common Class Close */

.header-red{
	font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: NanumSquare;
}
.text-red-cus{
	color: #e60012;
}
.top-menu a {
	color: #666666;
	border-right: 1px solid #cccccc;
	font-size: 12px;
	font-weight: 700;
  padding: 15px;
}
.top-menu a.active {
	color: #fff;
	border-right: 0;
	background-color: #e60012;
}
.footer-buttons a{
	border: 1px solid #cccccc;
	font-size: 12px;
	font-weight: 700;
    padding: 5px 25px;
    margin: 0 3px;
    color: #333333;
}
.footer-buttons a.active {
	color: #fff;
	border-color: #e60012;
	background-color: #e60012;
}
.footer-links a{
	border-right: 1px solid #cccccc;
    font-size: 12px;
    font-weight: 700;
    padding: 0 10px;
    color: #999;
}
.footer-links a:last-child {
    border-right: 0;
}
.main-menu a {
	color: #333;
	font-size: 16px;
	font-weight: 700;
}
nav a:hover,.second-nav a:hover{
	color:#cecece;
	text-decoration: none;
}
 .search-input{
 	border:1px solid #e60012;
    background: none;
    width: 100%;
    line-height: 40px;
    position: relative;
    font-size: 14px;
    padding: 0px 12px;
}
.search-input:focus{
	outline: 1px solid #e60012;
}
.search-icon{
	color: #e60012;
	position: absolute;
	right: 25px;
	top:9px;
}
.second-nav{
	margin-top: 5px;
	line-height: 30px;
}
.custom-border{
	border-top: 1px solid #e6e6e6;
	margin-top: 10px;
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 10px;
}
.smart-search{
	margin-top: 20px;
	color: #e60012;
	font-weight: bolder;
	font-size: 20px;
	line-height: 35px;
}
.custom-filter{
	margin-left: 10px;
	color: #e60012;
}
hr{
	width: 100%;
	color: #e60012;
}
.footer-buttons, .footer-links {
	margin: 10px auto;
	width: 91%;
}
.footer-buttons button{
	margin: 0 5px;
	background-color: #fff;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px;
}
.banner-img img{
	width: 100%;
}
.inner-content {
    padding: 50px 0 19px 0;
}
.map-img img {
    width: 100% !important;
    height: 324px;
}
.first-section span {
    color: red;
}
.tabs-heading{
	padding: .5rem;
	color: #e60012;
	font-size: 22px;
    font-weight: 800;
    padding-left: 0
}
.pro-list-tabs .nav .nav-item.active{
  color: #e60012;
  border-bottom: 3px solid;
}
span.pro-tags {
    background-color: #e60012;
    color: white;
    padding: 3px 10px 3px 10px;
}
.last-para {
    color: grey !important;
    float: right;
}
.inner-content p {
    color: grey !important;
}
.eye-color i{
	color: #b3b3b3;
}
.bg-blue{
	background-color: #5ecce6 !important;
}
.pro-list-tabs .nav .nav-item {
    color: #999999;
    font-size: 12px;
    padding: 15px 17px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.home-4th-container.py-4 .card {
    border: 0;
}
.pro-list-tabs .card-body .card-text {
    color: #999;
}
.home-4th-container .card-body .card-text {
    color: #b3b3b3;
}
.pro-list-tabs .card-body .card-title {
    font-weight: bold;
}
.dropdown-link-1:hover .dropdown-menu-open-1{
	display: block;
}
.dropdown-link-1:hover{
	color: red;
}
a.nav-link.py-1.border-0:hover {
    color: #e60012 !important;
}
.bars-menu {
    height: 130px;
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 217px;
    left: 253px;
    z-index: 2;
    background-color: white;
    border-top: 1px solid #000;
	display: none;
}
.bars-inner {
    display: inline-block;
}
/*.pro-list-tabs .nav .nav-item:first-child {
    border-right: 1px solid #ccc;
}*/


/*Muneeb*/
.card {
    border-radius:0;
    margin:10px auto;
}
.card-title {
	text-transform: uppercase;
	color: #0d0c0c;
}

.card-text {
	margin-top:10px;
	margin-bottom: 10px;
	background-color:#FFFFFF;
	color:#000000;
}
a.btn, a.btn:visited {
    color:#333333;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.style1{
	 border-top: 3px solid #e60012;
	 width: 30px;
}
.card-block a{
	color: red;
}
.btn-round-lg{
border-radius: 22.5px;
background-color: #fff;
border:1px solid #0000001f;
color: #0000007d;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.nopadding {
   padding: 0 !important;}
.tabs a.active{
    border-bottom: 2px solid red;
    color: black;
    background-color: white;
}
.navtabs a {
	color: black;
}

table.red-hover-tables.table-hover tr {
    border-top: 1px solid #dee2e6;
}

table.red-hover-tables.table-hover tbody tr:hover {
    background: #fff;
    border: 1px solid #e60012 !important;
}
.inner-page-table-tabs a.nav-item.nav-link{
  background: #ededed;
  color: #999;
  border:1px solid #e5e5e5;
  padding: 8px 72px;
}
.inner-page-table-tabs a.nav-item.nav-link.active{
  background: #fff;
  color: #333;
}
table.red-hover-tables.table-hover td, table.red-hover-tables.table-hover th {
    border-top: 0;
}
.red-bb-small h5:after{
	content: "";
    width: 50px;
    height: 4px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.tab a{
	width: 50%;
	text-align: center;

}
.tabs a.active{
	border-bottom: 2px solid #red;
}
.bg-gray{
	background-color: #f7f7f7;
	color: #d7d7d7;
}
.cangot li a{
     color: red;
}

.links a{
   color:black;
}
.lnks a{
   color:red;
}


.links a.active{
	    background-color: white;
    color: red;
}
.tbs a.active{
	color: red;
	background-color: white;
}
.tbs span.sp {
    color: black;
}
.tbs a {
    color: black;
}
.tbs li{
	background-color: #ededed;
}
.table td{
	width: 20%;
}
.table td img{
	width: 33%;
}
.table td p{
	    display: block;
    float: left;
    margin-bottom: 0 !important;
}
.table td i{
	font-size: 11px;
}
.table td span{
	font-size: 11px;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.tablehvrd:hover td:not(.first),
.tablehvrd:hover td .content-div
{
    opacity: 0.2;
}
.first{
	position: relative;
}
.tablehvrd:hover .middle{
	display: block;
}

.middle{
	position: absolute;
    width: 33%;
    top: 42%;
    display: none;
}
.w-10{
    width: 2.5%;
}
.w-15
{
    width: 10%;
}
.faq-othr-links a{
    color:black;
}
.faq-othr-links a.active{
    color: red;
    }
/*Muneeb*/
/* Forms designing */
.form-signin {
    width: 100%;
    max-width: 550px;
    padding: 40px 80px;
    margin: 0 auto;
}
input {
    background: #f7f7f7!important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    color: #cccccc !important;
    border-color: #cccccc !important;
    font-size: 14px !important;
}
label{
	color: #333333;
    font-size: 14px !important;
}

/* Checkbox design */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  /*background-color: #eee;*/
  border:1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #e60012;
  border:1px solid #e60012;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Checkbox design close */

/* radio design open */
/* The container */
/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: red;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 5.9px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: red;
}

/* radio design close */

.form-links a{
	color: #333333;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
}
.form-links a:last-child {
    border-right: 1px solid transparent;
}
.form-links a:hover {
    text-decoration: none;
	color: #e60012;
}
.bottom-links a{
	color: #666666;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
}
.bottom-links a:last-child {
    border-right: 1px solid transparent;
}
.bottom-links a:hover {
    text-decoration: none;
	color: #e60012;
}
footer {
    border-top: 1px solid #bfbfbf;
}
.footer-contact-line{
	color: #999;
	font-size: 14px;
}
.login-heading{
	color: #333;
	font-size: 22px;
	font-weight: 900;
}
.msg-code{
	background: #fff2f3;
    color: #e60012;
    border-radius: 50px;
    padding: 20px 80px;
    font-size: 22px;
    font-weight: 900;
    display: inline-block;
}
@media (min-width: 1200px){
	.container{
	    width: 1020px !important;
	}
}
.btn-border-red {
  border: 1px solid #e60012;
  border-radius: 0;
  color: #e60012;
  font-weight: bold;
  background-color: white;
  margin-bottom: 2px;
  padding: 7px 18px;
}
.details-title a.active{
  color: red !important;
}
.descr-title a{
  color: red;
}
.form-bordr{
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}
.form-bordrr{
  border-top: 1px solid;
  border-right: 1px solid;
}
.form-border-padding-cl3{
      padding: 16px ;
}
.form-border-padding-cll8{
  padding: 25px 16px;
}
.form-border-padding-cl8{
  padding: 12px 16px;
}
.details-desc-row-height{
  height: 73px;
}
.w-13{
  width: 13%;
}